<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <dl>
      <dt>title</dt>
      <dd>String</dd>
      <dt>gamesConsole</dt>
      <dd>String</dd>
      <dt>cover_url</dt>
      <dd>String (URL)</dd>
    </dl>
  </body>
</html>
