<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <dl>
    <dt>title</dt>
    <dd>String</dd>
    <dt>gamesConsole</dt>
    <dd>String</dd>
    <dt>cover_url</dt>
    <dd>String (URL)</dd>
  </dl>

  <p>Endpoint: <a href="https://jump-games-api.fly.dev/api/v1/games">https://jump-games-api.fly.dev/api/v1/games</a></p>
</body>

</html>